@charset "UTF-8";

/*おすすめ温泉表示*/
.home1 {
    /*border: 300px solid #FCF9EF;
    border-radius: 15px;
    /*margin-top: 150px;
    padding-bottom: 150px;*/
    background-color: #FCF9EF;
   /* margin-top: 100px;
    margin-bottom:100px ;*/
    text-align: center;
  }

  /*「本日のおすすめ温泉」文字調整*/
  p{
    text-align: center;
    font-size: 80px;
    display:inline-block;
    /*padding-top: 20px;*/

  }

  .osusume{
    margin-bottom:70px;
    /*padding-left: 240px;*/
    /*padding-top: 130px;*/
  padding-bottom: 100px;
  }

  /*ランキング表示のdiv*/
.ranking{
  /*border: 300px solid #FCF9EF;*/
    border-radius: 15px;
    background-color: #FCF9EF;
    padding-bottom: 80px;
}

/*ランキングをスライドするためのやつ*/
 .Container {
      position: relative;
      width: 100%;
      overflow: hidden;
    }

    .Box-Container {
      display: flex;
      width: fit-content;
      transition: transform 0.8s ease;
      transform: translateX(0);
    }

    .Box {
      flex-shrink: 0;
      width: 300px;
      height: 450px;
      margin-right: 500px;
      border-radius: 10px;
      /*background-color: #FFFFFF;*/
      margin-top :150px;
      padding-bottom: 150px;
      padding-right: 40px;
    }

    .Arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 70px;
      height: 70px;
      background-color: rgba(0, 0, 0, 0.3);
      color: #fff;
      font-size: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    .Arrow.left {
      left: 0;
    }

    .Arrow.right {
      right: 0;
    }

    .Hide {
      display: none;
    }


    /*ヘッダー*/
    #header{
        position:static;
        height:10vh;
        width:100%;
    }

    .logo{
        position:absolute;
        top:3%;
        left:5%;
        height:6vh;
    }

    .user-icon {
        position:absolute;
        right:6%;
        top:1.5vh;
        height:8vh;
        line-height: 200px;
        background-color: rgba(0,0,0,0.2);
        border-radius: 50%;
        color: #fff;
      }

    .header_hr{
        position:absolute;
        top:10%;
        width:100%;
    }


    /*フッター　アイコン組
    #footer{
        position:fixed;
        bottom:0;
        height:10%;
        width:100%;
      }

    #footer-tag {
      width:107%;
      display: flex;
      justify-content:space-evenly;
    }

    #footer-tag, p {

    }

    .footer-icon{
      width:8vh;
    }*/

    #footer{
      background-color: white;
      position:fixed;
      bottom:0;
      height:10vh; /* t b ^ [ ̍   */
      width:100%;

    }
  #footer-tag {
    width:100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-left: 20px;
  }
  #footer-tag a{
    padding-left: 20px;
    padding-right: 20px;
    position:relative;
    display:inline-block;
  }
  #footer-tag p {
    width:7vh;
    text-align:center;
    position:absolute;
    font-size:25px;
    color:black;
    background-color: white;
    border:solid;
    border-color: black;
    border-radius: 12px;
    top:92%;
    left:50%;
    transform: translate(-50%, -50%);
  }
  .footer-icon{
    position:relative;
    width:7vh;
  }


